#Header {
  width: 100%;
  /* background-color: rgba(200, 200, 200, 0.2);  */
}

@media screen and (max-width: 600px) {
  #Header {
    padding: 0;
  }
  #Header > div > h1 {
    font-size: 5rem;
  }
}